[submodule ".registry"]
	path = .registry
	url = https://github.com/llongour/llongour.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "kobolite"]
	path = kobolite
	url = https://github.com/llongour/kobolite
	shallow = true
	registered = true
